body{
    width: 100vw;
    height: 100vh;
    background-color:rgb(235, 214, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card{
    width: 400px;
    height: 500px;
    background-color: rgb(239, 233, 233);
    border-radius: 10px;
    position: relative;
    

    img{
        width: 80%;
        height: 80%;
        object-fit: cover;
        margin-left: 35px;
        margin-top: 25px;
        border-radius: 10px;

    }
    h1{
        text-align: center;
        font-size: 2rem;
        margin-top: 10px;
        
    }
    i{
        position: absolute;
        top:50%;
        left: 50%;
        font-size: 5em;
        color: red; 
        cursor: pointer;
        opacity: 0;
         transform: translate(-50%,-50%) scale(1) ;
         transition: all ease 0.2s ;
      
        
       
        
        
    }
}