*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 100vh;
    background-color:#FFFFFF;
}
#nav{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
    background-color: #282829
}
#nav a{
    color: rgb(232, 224, 224);
    font-size: 1em;
    text-decoration: none;
    list-style: none;

}
#nav a:hover{
    color: #ed4700;
    transition: 0.5s;
}
#center {
    color: white;
    height: 80%;
    width: 100%;
    font-size: 2em;
    padding: 30px;
    justify-content: space-evenly ;
    text-align: center;
    background :url(./hero_iphone_17_pro__bknyzxfk2agi_medium_2x.jpg)no-repeat;
    background-size: cover;
    background-position: center;

}
#button1{
        font-size: 20px;
        padding: 10px 10px;
        margin-top: 15px;
        border-radius: 40px;
        background-color: #0077ED;
        border: none;
        color: rgb(243, 234, 234);
}
#button1:hover{
    background-color: rgb(48, 44, 44);
    color: white;
    cursor: pointer;
    
}
#button2{
        font-size: 20px;
        padding: 10px 10px;
        margin-top: 15px;
        border-radius: 40px;
       background-color: black;
       border-color:#0077ED;
        color: white;
}
#button2:hover{
    background-color:#0077ED;
    color: white;
    cursor: pointer;
  
}
#icon{
    color: white    ;
}