*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#main{
    width: 100vw;
    height: 100%;
    background-color: rgb(241, 234, 234);
    display: flex;
    flex-wrap: wrap;

}
.profile{
    width: 200px;
    height: 400px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    
}
.profile p{
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}
.profile h2{
    font-size: 2em;
    font-weight: 600;
}
.profile button{
    background-color:#3441AF;
    height: 40px;
    width: 100px;
    color: white;

border: #3441AF;
    border-radius: 40px;
}
.profile button:hover{
    background-color: #1E2A78;
    cursor: pointer;
}