*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 110%;
    background-color: rgb(11, 12, 12);
    padding: 30px;
    display: flex;
    flex-wrap: nowrap; 
    /* overflow-x: auto; 
    overflow-y: hidden */
    gap: 30px;
  
    
}
#card{
    height: 450px;
    width: 300px;
    background-color: white;
    padding: 10px;
    flex-shrink: 0;
}
#card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
#bio{
    text-align: center;
    margin-top: 10px;
    padding: 15px;
}
#bio h1{
    color: red;
}