*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 210vh;
    background: linear-gradient(red blue);}
.contanier{
    width: 100%;
   
    background-color: rgb(197, 217, 217);
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        padding: 20px;
}
.a{
    background-color: white;
    height: 190px;
    margin-top: 20px;
    
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.e{
    background-color: rgb(131, 206, 234);
    height: 190px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;

}
.section{
    background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
}
.section1{
     background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;

}
.skill{
    height: 400px;
    background-color: rgb(216, 237, 162);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.f{
    background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    height: 40px;
    font-size: 2em;
    text-transform: uppercase;
}
.j{
    background-color: white;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    height: 40px;
    font-size: 2em;
    text-transform: uppercase;
}
.n{
    background-color: white;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    height: 40px;
    font-size: 2em;
    text-transform: uppercase;
    


}
.ui{
background-color: white;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    height: 40px;
    font-size: 2em;
    text-transform: uppercase;
}
.project{
    background-color: rgb(228, 138, 229);
    height:250px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.website{
     background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px;

}
.page{
      background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px;

}
.layout{
      background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px;
}
.contact{
    background-color: rgb(177, 175, 219);
    height:250px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    text-transform: uppercase   ;

}
.phon{
      background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px;

}
.insta{
  background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px;
}
.email{
  background-color: white;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px;
}