*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}
body{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.599),black);
    padding: 20px;
    
}
section{
    width: 400px;
    height: 100%;
   
    margin: auto;
    border-radius: 10px;
    
}
.all-reels{
    width: 100%;
    height: 100%;
 
    border-radius: 10px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reels{
    width: 100%;
    height: 100%;
    
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
    scroll-snap-align:start;
    scroll-snap-align: always;
}
.reels video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bottom{
        width: 100%;
        background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.922));
        padding: 30px 20px;
        position: absolute;
        bottom: 0;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;

}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 10px;
}
.user h4{
    color: white;
    
}
.bottom h3{
        color: white;
        font-size: 1em;

}
.user button{
    background: transparent;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 500;

}
.right{
    width: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center;
    position: absolute;
    color: white;
    right: 0;
    bottom: 8%;
}
.right .icon{
    background-color:   transparent;
    font-size: 2em;
    font-weight: 50;
}.right h6{
    font-size: 15px;
    pointer-events: none;
}
.right h4{
    pointer-events: none;
}
.love{
    color: red;
}

