*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background:  linear-gradient(135deg,
  #833ab4,
  #fd1d1d,
  #fcb045
);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
    
    
}
#storyan{
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #bababa;
   
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    margin-top: 40px;
    
    
}
#storyan::-webkit-scrollbar{
    display: none;
}
#story{
    width: 80px;
    height: 80px;
    border: 4px solid rgb(204, 104, 61);
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

}
#story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
    
}
#full-screen{
   
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
#card h1{
    margin-left: 25%;
    text-align: center;
    justify-content: center;
   
    position: absolute;
    
}

#taskbar{
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 102%;
    font-size: 1.9em;
    gap: 10px;
     border: 1px solid #bababa;
     padding: 10px;
     font-weight: 1em;
     
}
#contain{
    position:absolute;
    height: 358px;
    width: 100%;
}
#datils{
    width: 100%;
    height: 100%;
    
}
#datils img{
    width: 100%;

    object-fit: cover;
    object-position: center;
    height: 100%;
   

}

#profil{
    
    width: 100%;
    height: 45px;
   
    padding: 10px;
    display: flex;
    gap: 8px;
    

}
#profil img{
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;

}
#profil h2{
    font-size: 1em;
    justify-content: center;
    margin-top: 3px;
}
