*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    background: black
}
.card{
    height:450px ;
    width: 300px;
    background-color: crimson;
    object-fit: cover;
    object-position: bottom;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}
.card img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
.bottom{
    width:100%;
    height: 30%;
    background:linear-gradient(transparent , black);
    position: absolute;
    bottom: -30%;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    transition: 0.5s;
}
.card:hover .bottom{
    bottom: 0%;
}
.bottom h4{
    color: white;
    font-size: 2em;
    border-radius: 50%;
}
.bottom h3{
    color: rgb(3, 3, 3);
    background-color: rgb(241, 234, 234);
    padding: 10px 10px;
    border-radius: 50%;
}
.bottom h3:hover{
    background-color: red;
    color: white;
}